
#mainbody {
    text-align: center;
    font-family:Microsoft jhengHei UI;
}

#mainbody > input {
    display: inline-block;
    border-style: none;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    font-size: 30px;
    font-family:Microsoft jhengHei UI;
}

#mainbody li {
    text-align: left;
    list-style: none;
    font-size: 30px;
    letter-spacing: 5px;
    padding: 30px 20px ;
}
