body {
  background-image: url("/images/bg.jpg");
  position: relative;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#sun {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: 10vh;
  left: 10vw;
  background: #ff0;
  border-radius: 50%;
}
#sun:before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  transform: translate(-20%, -20%);
  background: #f9f3ec;
  border-radius: 50%;
  filter: blur(50px);
}
#sun:hover {
  transform: scale(5);
  transition: 3s ease-in-out;
}
#windmill {
  background-image: url("/images/lookout_tower.png");
  position: absolute;
  display: block;
  width: 256px;
  height: 256px;
  right: 5%;
  top: 300px;
  z-index: 1;
}
#wing {
  background-image: url("/images/windmill-clip.png");
  width: 299px;
  height: 299px;
  position: absolute;
  background-size: 80%;
  background-repeat: no-repeat;
  top: -85px;
  left: 8px;
  transform-origin: 37% 38%;
  animation: wind_Ani 3s linear infinite;
}
.bird {
  background-image: url("/images/bird.png");
  width: 100px;
  height: 100px;
  top: 50vh;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  animation: bird_Ani 5s linear infinite;
}
.bird-1 {
  animation-delay: 0.5s;
}
.bird-2 {
  animation-delay: 1s;
}
.bird-3 {
  animation-delay: 1.7s;
}
.bird-4 {
  animation-delay: 2s;
/*
#jump
    transform-origin 100% 0%
    animation cow_jump_Ani 3s linear infinite
    */
}
#cow {
  background-image: url("/images/cow.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 300px;
  height: 333px;
  top: 70vh;
  animation: cow_Ani 10s linear infinite;
}
#fence {
  background-image: url("/images/ft3rail.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 555px;
  height: 333px;
  transform: scale(0.8);
  top: 65vh;
}
#square {
  width: 100px;
  height: 100px;
  background-color: #f00;
}
@-moz-keyframes wind_Ani {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes wind_Ani {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-o-keyframes wind_Ani {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes wind_Ani {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes bird_Ani {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  49% {
    transform: translateX(90vw) rotateY(0deg);
  }
  50% {
    transform: translateX(90vw) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(180deg);
  }
}
@-webkit-keyframes bird_Ani {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  49% {
    transform: translateX(90vw) rotateY(0deg);
  }
  50% {
    transform: translateX(90vw) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(180deg);
  }
}
@-o-keyframes bird_Ani {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  49% {
    transform: translateX(90vw) rotateY(0deg);
  }
  50% {
    transform: translateX(90vw) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(180deg);
  }
}
@keyframes bird_Ani {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  49% {
    transform: translateX(90vw) rotateY(0deg);
  }
  50% {
    transform: translateX(90vw) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(180deg);
  }
}
@-moz-keyframes cow_jump_Ani {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotateZ(3deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotateZ(-3deg);
  }
}
@-webkit-keyframes cow_jump_Ani {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotateZ(3deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotateZ(-3deg);
  }
}
@-o-keyframes cow_jump_Ani {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotateZ(3deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotateZ(-3deg);
  }
}
@keyframes cow_jump_Ani {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotateZ(3deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotateZ(-3deg);
  }
}
@-moz-keyframes cow_Ani {
  0% {
    transform: translateX(0px) rotateY(180deg);
  }
  49% {
    transform: translateX(60vw) rotateY(180deg);
  }
  50% {
    transform: translateX(60vw) rotateY(0deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}
@-webkit-keyframes cow_Ani {
  0% {
    transform: translateX(0px) rotateY(180deg);
  }
  49% {
    transform: translateX(60vw) rotateY(180deg);
  }
  50% {
    transform: translateX(60vw) rotateY(0deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}
@-o-keyframes cow_Ani {
  0% {
    transform: translateX(0px) rotateY(180deg);
  }
  49% {
    transform: translateX(60vw) rotateY(180deg);
  }
  50% {
    transform: translateX(60vw) rotateY(0deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}
@keyframes cow_Ani {
  0% {
    transform: translateX(0px) rotateY(180deg);
  }
  49% {
    transform: translateX(60vw) rotateY(180deg);
  }
  50% {
    transform: translateX(60vw) rotateY(0deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}
